body {
	background: #f9e933;
}

header, main, footer {
	min-width: 855px;
}

header {
	background-color: white;
}

main {
	background-color: white;
}

body {
	font-size: 100%; /* this sets the base font size for everything */
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: xx-large; /* sets it relative to tge base font size */
}

h2 {
	font-size: x-large;
}

.important {
	font-size: larger; /* makes it a little larger than the parent */
}

.onePointTwo {
	font-size: 1.2em; /* sets it to 1.2em times the base size*/
}
