body {
	background: #f9e933;
	font-size: 100%; /* this sets the base font size for everything */
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: xx-large; /* sets it relative to tge base font size */
}

h2 {
	font-size: x-large;
}

.important {
	font-size: larger; /* makes it a little larger than the parent */
}

.onePointTwo {
	font-size: 1.2em; /* sets it to 1.2em times the base size*/
}

header, main, footer {
	min-width: 855px;
}

header {
	background-color: white;
	overflow: auto;
}

main {
	background-color: white;
	padding: 50px;
}

header h1 {
	float: left;
	width: 570px;
}

header nav {
	float: right;
	width: 285px;
}


main h2, h3, ul, p {
	width: 570px;
	float: left;
	margin-right: 100px;
}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

footer {
	padding: 50px;
}

footer .contact {
	float: right;
	width: 285px;
}

